**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.gitmodules
**/.husky
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/node_modules
**/npm-debug.log
**/build
.eslintrc.yml
.git-blame-ignore-revs
.prettierignore
.prettierrc.cjs
docker
indexes
LICENSE.txt
lint-staged.config.mjs
Makefile
package-lock.json
package.json
README.md
run-persist.sh
scripts
SECURITY.md
start.sh
test
tsconfig.json
vitest.config.ts
