name: build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: dependencies
        run: |
          npm i
      - name: build bot
        run: |
          npm run build
      - name: build cppref scraper
        run: |
          cd indexes/cppref
          npx tsc
      - name: build man7 scraper
        run: |
          cd indexes/man7
          npx tsc
